@charset "utf-8";

.blue{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.blue div{
    width: 300px;
    height: 300px;
    background-color:blue;
}

.red{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}

.red div{
    width: 300px;
    height: 300px;
    background-color: red;
}