@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4f260b;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-feature-settings: "plat";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img,
iframe {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #e8d9bf;
  font-size: 23px;
}

/* ヘッダー */
.pc_nav ul {
  display: flex;
  gap: 55px;
}

.pc_nav ul li {
  width: 105px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;

  font-family: YuGothic, "Yu Gothic", sans-serif, "Hiragino Sans W3",
    "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.header_logo {
  width: 226px;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7% 0 3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.slick-dots {
  bottom: 20px;
}
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #fff;
  font-size: 15px;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/* ============================
* キャッチコピー
* ========================= */
.catch_copy {
  text-align: center;
}
.en {
  display: inline-block;
  font-size: 30px;
  margin: 164px 0 57px;
}
.catch_copy_ja {
  font-size: 82px;
  margin-bottom: 45px;
  line-height: 1.2;
}
.catch_copy_text {
  margin-bottom: 99px;
  line-height: 1.7;
}
.br_sp {
  display: none;
}

/* ============================
* ABOUT US
* ========================= */
.about_us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 108px;
}
.about_us_im {
  width: 50%;
}
.about_us_im img {
  border-bottom-right-radius: 82px;
}
#about_us h2 {
  width: 272px;
  margin-top: 62px;
  margin-bottom: 40px;
}
.about_us_concept {
  font-size: 44px;
  margin-bottom: 19px;
  line-height: 1.38;
}
.about_us_text {
  width: 42%;
}
.about_us_texts {
  font-size: 16px;
  line-height: 1.6;
}
.wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10%;
}

/* ============================
* MENU
* ========================= */
#menu {
  margin-bottom: 100px;
}
#menu h2 {
  width: 151px;
  margin: 0 auto 48px;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu_item {
  width: 30%;
}
.menu_item > div {
  position: relative;
}
.menu_item img {
  border-top-right-radius: 42px;
}

h3 {
  font-size: 38px;
  color: #d30202;
  position: absolute;
  top: 95.5%;
}

.menu_tx {
  font-size: 17px;
  margin-top: 44px;
  line-height: 1.5;
}

/* ============================
* GALLERY
* ========================= */
#gallery {
  margin-bottom: 71px;
}
#gallery h2 {
  max-width: 1000px;
  width: 245px;
  margin: 0 auto 26px;
}
.gallery {
  display: flex;
  width: 100%;
}
.img_sp {
  display: none;
}
/* スライドボタン */
/* ========================= */
.slick-prev {
  left: 20%;
  z-index: 100;
}
.slick-next {
  right: 20%;
  z-index: 100;
}
.slick-prev:before {
  content: "";
  width: 27px;
  height: 27px;
  display: block;
  border-top: 5px solid #ffffff;
  border-left: 5px solid #ffffff;
  transform: rotate(-45deg);
}
.slick-next:before {
  content: "";
  width: 27px;
  height: 27px;
  display: block;
  border-top: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  transform: rotate(45deg);
}

/* ============================
* EVENT
* ========================= */
#event {
  margin-bottom: 80px;
}
#event h2 {
  width: 174px;
  margin: 0 auto 39px;
}
.event_item {
  display: flex;
  padding-bottom: 26px;
}

.event {
  max-width: 1000px;
  padding: 41px 0 20px 15.5%;
  border: 4px solid #4f260b;
  margin: 0 auto;
  background-color: #fff;
}
dt {
  padding-right: 49px;
}
dd {
  text-decoration: underline 1px solid #4f260b;
}

/* ============================
* ACCESS
* ========================= */
#access h2 {
  width: 213px;
  margin: 0 auto 46px;
}
.access_map {
  max-width: 100%;
}
iframe {
  aspect-ratio: 1920/471;
}

/* ============================
* フッター
* ========================= */
footer {
  background-color: #fff;
}

.footer_img {
  width: 22.7%;
}
address {
  font-size: 20px;
  margin-left: 69px;
  font-style: normal;
  line-height: 2;
}
address p {
  margin-bottom: 23px;
}
.footer_wrap {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 76px 0 54px 0;
}
#footer_copyright {
  display: block;
  font-size: 16px;
  text-align: center;
  padding-bottom: 78px;
}
.page_top {
  max-width: 125px;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

/* SP 1000以下*/
/* ========================= */
.sp_nav,
.sp_btn {
  display: none;
}
@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }
  .sp_btn {
    display: block;
    height: 23px;
    cursor: pointer;
    z-index: 2;
  }
  .sp_btn span {
    display: block;
    width: 23px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    /* 位置の調整*/
    position: relative;
    top: 10px;
    /* アニメーション */
    transition: 0.3s;
  }
  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    width: 23px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    /* 位置の調整*/
    position: absolute;
    /* アニメーション */
    transition: 0.3s;
  }
  .sp_btn span::before {
    bottom: 10px;
  }
  .sp_btn span::after {
    top: 10px;
  }
  /* ×印 */
  .sp_btn.open span {
    background: transparent;
  }
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  /* メニューの見た目　*/
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .sp_nav ul li {
    padding: 20px;
    color: #fff;
    font-size: 18px;

    font-family: YuGothic, "Yu Gothic", sans-serif, "Hiragino Sans W3",
      "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo,
      "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
  .en {
    margin: 22px;
  }
  .catch_copy_ja {
    font-size: 38px;
    line-height: 1.16;
  }
  .br_sp {
    display: block;
  }
  .wrap {
    padding: 0 5%;
  }
  .event {
    padding-left: 7.8%;
  }
  .event_item {
    display: block;
  }
  dd {
    white-space: nowrap;
    overflow: hidden;
  }
}
/* ============================
* SP767以下
* ========================= */
@media screen and (max-width: 767px) {
  /* キャッチコピー */
  /* ========================= */
  .catch_copy_text {
    font-size: 16px;
    line-height: 1.875;
    margin-bottom: 54px;
  }
  /* ABOUT US */
  /* ========================= */
  .about_us {
    flex-direction: column;
    width: 100%;
  }
  .about_us_im {
    width: 100vw;
    margin: 0 calc(50% - 50vw) 35px;
  }
  .about_us_im img {
    border-bottom-right-radius: 0px;
  }
  .about_us_concept {
    font-size: 36px;
    margin-bottom: 28px;
    line-height: 1.25;
  }
  .about_us_text {
    width: 80%;
    margin: 0 auto;
    display: contents;
  }
  #about_us h2 {
    width: 160px;
    margin: 0 auto;
    margin-bottom: 12px;
    order: -1;
  }

  /* MENU */
  /* ========================= */
  #menu h2 {
    width: 88px;
    margin: 0 auto 17px;
  }
  .menu {
    flex-direction: column;
    gap: 56px;
    align-items: center;
  }
  .menu_item {
    width: 100%;
  }
  /* GALLERY */
  /* ========================= */
  #gallery h2 {
    max-width: 100%;
    width: 142px;
    margin: 0 auto 15px;
  }
  .img_pc {
    display: none;
  }
  .img_sp {
    display: block;
    width: 100%;
  }
  /* EVENT */
  /* ========================= */
  #event {
    margin-bottom: 0px;
  }
  #event h2 {
    width: 101px;
    margin: 0 auto 15px;
  }
  .event {
    margin: 15px 0px 30px;
  }
  .event_item {
    display: block;
  }
  dd {
    white-space: nowrap;
    overflow: hidden;
  }
  /* ACCESS */
  /* ========================= */
  #access h2 {
    width: 124px;
    margin: 0 auto 5px;
  }
  /* フッター */
  /* ========================= */
  .footer_img {
    width: 227px;
    margin-bottom: 27px;
  }
  address {
    font-size: 18px;
    margin: 0 auto;
    font-style: normal;
    line-height: 1.72;
  }
  address p {
    margin-bottom: 12px;
  }
  .footer_wrap {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 41px 0 30px 0;
  }
}
