@charset "utf-8";

body {
  max-width: 960px;
  background-color: #eeeeee;
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: #006400;
  margin: 50px auto;
}

h2 {
  color: #006400;
  border-left: 5px solid #006400;
}

.box {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.box div {
  width: 30%;
}

img,
h2,
p {
  margin-bottom: 8px;
}

.img {
  width: 100%;
}

@media screen and (max-width: 400px) {
  .box div {
    width: 100%;
  }

  img {
    width: 100%;
  }

  .box {
    flex-direction: column;
    padding: 0 2%;
  }
}
